.user_comments_page_container {
    margin-left: 10px;
    width:100vh
}

.user_comments_title_comment_buttons {
    margin-top: 10px;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.user_comments_buttons_container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.user_comments_buttons_container button {
    list-style: none;
    padding: 5px;
    border: none;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
}

#user_comments_update_button {
    background-color: #2089ca;
    color: #fff;
}