.user_comments_page_container {
    margin-left: 10px;
    width:100%;
    justify-content: start;
}

.user_comments_title_comment_buttons {
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid rgb(201, 201, 201);
    padding: 5px;
    border-radius: 8px;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
}

.user_comments_content {
    margin-left: 10px;
}

.user_comments_title_comment_buttons:hover{
    transform: scale(1); /* Slight zoom */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow */

}

.user_comments_question_header h4 {
    font-size: 18px;
}
.user_comments_buttons_container {
    display: flex;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.user_comments_buttons_container button {
    list-style: none;
    padding: 5px;
    border: none;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
}

#user_comments_update_button {
    background-color: #2089ca;
    color: #fff;
}

#user_comments_update_button:hover {
    background-color: #2079b1;
}

#user_comments_delete_button:hover{
    background-color: #aaaaaa;
}