.selected_question_page_container{
    width:100%;
    margin-left: 20px;
    /* overflow: scroll; */
}

.selected_question_content_container {
    border: 1px solid rgb(201,201,201);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
}

.selected_question_title{
    display: flex;
    align-items: center;
    gap:10px
}

.selected_question_title #selected_question_bookmark{
    cursor: pointer;
}

.selected_question_subheaders {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 15px;
}

#selected_question_question {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.selected_q_response_container {
    border: 1px solid rgb(201,201,201);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.selected_comment_main_container {
    border: 1px solid  rgb(201,201,201);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 115%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selected_question_comment_container {
    margin-top: 10px;
    margin-bottom: 15px;
}
#selected_question_comment_text {
    margin-top: 15px;
}


.selected_question_comment_content_container {
    margin-bottom: 10px;
}

.selected_question_comment_username_date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}