.create_comment_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    max-width: 500px;
    height: 500px;
}

.create_comment_container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.creat_comment_rq_container{
    margin-bottom: 1rem;
}

form .quill {
    height: 150px;
}

/* .quill{
    width: 500px;
    height: 100px;
    border-radius: 5px;
} */

#create_comment_post_container {
    margin-top: 1rem;
}

.create_comment_container button {
    background-color: #2089ca;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.create_comment_container .error {
    color: red;
    font-weight: bold;
}

#create_comment_post_container button:hover{
    background-color: #2079b1;
    cursor: pointer;
}