.saved_question_page_container h2{
    margin-left: 15px;
}

.saved_question {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(201, 201, 201);
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Initial shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
}

.saved_question:hover {
    transform: scale(1.02); /* Slight zoom */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow */
}

.saved_question_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#saved_question_main_title {
    font-size: 18px;
    font-weight: 800;
}